
.main-div{
  display: flex;
  justify-content: center;
  background-image: 
  url(
"https://pixabay.com/get/gc248b7dbc965597e7750ab3b34b5b90cc1131c3b2210134b0cde22997b955a57ec45370c5ea5bec59a6fc0f467f443f37355a867f99ea4319e1d29da2eca4472beabf75477839b01169cf188b45f1546_1280.jpg");
  background-size: "cover";
  height: 100vh;
}
.center-div{
  display: flex;
  width: 30vw;
  color: white;
  backdrop-filter: blur(14px);
 background-color: rgba(255, 255, 255, 0.2);
 overflow: hidden;
  flex-direction: column;
  box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.9);
  flex-wrap: wrap;
  height: 60vh;
  margin-top: 14vh;
  border-radius: 8px;
}
  

.center-div h2{
  margin-top: 0px;
  color: rgb(17, 16, 16);
  text-align: center;
  margin-bottom: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.todo-form{
 
  display: flex;
  justify-content: center;
  
}
.input-task{
  margin-right: 1vw; 
  max-width: 23vw;
  padding: 2px 4px;
  border-radius: 5px;
}
.todo-btn{
  width: 4vw;
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
   background-color: rgb(6, 140, 250);
  color: white;
  height: 29px;
  font-weight: 900;
 
}

button:hover{
  background-color: rgb(2, 167, 2);
}
.todolist{
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
.todolist li{
  list-style: none;
  text-align: center;
  height: auto;
font-family: sans-serif;
}
.todolist button:hover{
  background-color: rgb(226, 36, 36);
}
.todolist button{
  width: 28px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
   background-color: rgb(28, 113, 209);
  color: white;
  height: 29px;
  margin-right: 1vw;
}

